{% extends 'store/base.html' %}


{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 mx-auto border rounded pt-4">
       
            <form class="form-gruop" action="/signup" method="POST">
              
              <div class="alert alert-denger"></div>
            
                {% csrf_token %}
                <h3 class="alert alert-light borde rounded text-center">Create An Account</h3>
                {% if error %}
                <div class="alert alert-danger role=" role="danger">
                  {{error}}
                </div>
                {% endif %}
                
              
                <div class="form-group">
                    <label for="inputName1">Full Name</label>
                    <input type="text value="{{value.fullname}}" name="fullname" class="form-control" id="inputName1">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail2">phone</label>
                    <input type="text" value="{{value.phone}}" name="phone" class="form-control" id="inputphone">
                  </div>
                  <div class="form-group">
                    <label for="inputName1">Email</label>
                    <input type="email" value="{{value.email}}" name="email" class="form-control" id="inputemail">
                  </div>
                  <div class="form-group">
                    <label for="inputName1">Password</label>
                    <input type="password" name="password" class="form-control" id="inputpassword">
                  </div>
                  <div class="form-group">
                    <label for="inputName1">Repassword</label>
                    <input type="password" name="repassword" class="form-control" id="inputpassword">
                  </div>
                  <div class="form-group">
                      <input class="btn-success btn-sm" type="submit" value="Create An Account">
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}